.section .body {
    .neural-networks {
        &-container {
            display: flex;
            justify-content: space-around;
        }
    }
    .player-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;

        & button {
            padding: .5rem;
            margin: 2rem 1rem;
            background-color: transparent;
            border: 2px solid black;
            border-radius: 4px;

            &:hover {
                background-color: lightgray;
            }
        }
    }
    .score {
        &-container {
            display: flex;
            flex-direction: column;
            width: 300px;
        }
        &-outcome {
            width: 100%;
            height: 64px;
            border-bottom: 2px solid black;

            &-title {
                margin: 0;
                text-align: center;
            }

            &-numbers {
                display: flex;
                justify-content: space-around;

                & h2 {
                    margin: 0;
                    text-align: center;
                }
            }
        }
        &-choice {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;

            &:first-child {
                border-right: 2px solid black;
            }

            &-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
            }
        }
    }
    .cpu {
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        &-brain-output {
            display: flex;
            flex-direction: column;
            white-space: break-spaces;
            overflow-wrap: break-word;
            overflow-y: auto;
            width: 350px;
            height: 250px;

            &--comment {
                margin: .5rem 0;
            }
        }

        &-inner-chip {
            &--win {
                animation: CPUInnerChipWin 1s;
            }
            &--draw {
                animation: CPUInnerChipDraw 1s;
            }
            &--lose {
                animation: CPUInnerChipLose 1s;
            }
        }
        &--win {
            animation: CPUWin 1s;
        }
        &--draw {
            animation: CPUDraw 1s;
        }
        &--lose {
            animation: CPULose 1s;
        }
    }
}

@keyframes CPUWin {
    0% { transform: scale(1) }
    50% { transform: scale(1.3) }
    100% { transform: scale(1) }
}

@keyframes CPUInnerChipWin {
    0% { fill: transparent; }
    50% { fill: green; }
    100% { fill: transparent; }
}

@keyframes CPUDraw {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(25deg) }
    100% { transform: rotate(0deg) }
}

@keyframes CPUInnerChipDraw {
    0% { fill: transparent; }
    50% { fill: rgb(235, 178, 56); }
    100% { fill: transparent; }
}

@keyframes CPULose {
    0% { transform: translateX(0) }
    10% { transform: translateX(-25px) }
    20% { transform: translateX(25px) }
    30% { transform: translateX(-25px) }
    40% { transform: translateX(25px) }
    50% { transform: translateX(-25px) }
    60% { transform: translateX(25px) }
    100% { transform: translateX(0) }
}

@keyframes CPUInnerChipLose {
    0% { fill: transparent; }
    50% { fill: red; }
    100% { fill: transparent; }
}