html {
    font-family: system-ui;

    /* Themes */
    --web: rgb(245, 136, 63);
    --games: rgb(99, 202, 223);
    --shaders: rgb(170, 85, 38);
    --other: rgb(22, 161, 171);
    --about: rgb(244, 118, 33);

    /* Tack on some global variables */
    --global-animation-speed: .5s;
    --global-animation-speed--fast: .25s;
    --global-animation-speed--slow: 1s;
    --global-animation-speed--super-slow: 2s;
    --global-animation-delay: .5s;
    --global-animation-delay--fast: .25s;
    --global-animation-delay--slow: 1s;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

code {
    background-color: rgb(221, 221, 211);
}

.layout {
    display: flex;

    width: 1440px;
    margin: 5rem auto;
}

.auto {
    &--overflow-y {
        overflow-y: auto;
    }
}

.flex {
    display: flex;

    &--column {
        flex-direction: column;
    }

    &--centre-all {
        justify-content: center;
        align-items: center;
    }

    &--centre-vertical {
        align-items: center;
    }
}

.no {
    &-margin-bottom {
        margin-bottom: 0;
    }
    &-display {
        display: none;
    }
}

.standard {
    &-margin-bottom {
        margin-bottom: 1rem;
    }
}

.canvas-container {
    height: 600px;

    &--loading {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(221, 221, 211);
    }
}