nav {
    align-self: flex-start;
    position: sticky;
    top: 0;
    padding-top: 10rem;
    max-width: 20%;

    & ul {
        position: relative;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            pointer-events: none;
            cursor: default;

            &::after {
                position: absolute;
                display: inline-block;
                content: '';
                margin: 11px 0 0 1rem;
                width: 10px;
                height: 2px;
                background-color: lightgray;
            }
        }

        & .active {
            -webkit-text-stroke: 1px;
        }

        & .loading {
            &::after {
                position: absolute;
                display: inline-block;
                content: '';
                margin: 11px 0 0 1rem;
                width: 10px;
                height: 2px;
                background-color: orange;
            }
        }

        & .loaded {
            pointer-events: auto;
            cursor: pointer;

            &::after {
                position: absolute;
                display: inline-block;
                content: '';
                margin: 11px 0 0 1rem;
                width: 10px;
                height: 2px;
                background-color: green;
            }
        }

        &.left {
            margin-left: 40%;
            align-items: start;

            &::after {
                right: 0;
            }
        }

        &.right {
            align-items: end;

            & li {
                display: inline-block;
                text-align: end;
                margin-left: 4rem;
            }

            &::after {
                left: 0;
            }
        }

        &.after-strip--vertical {
            &::after {
                position: absolute;
                content: '';
                top: 50%;
                width: 2px;
                height: 10vh;
                transform: translate(0, -50%) scaleY(1);
                background-color: black;
            }
        }

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            width: 2px;
            height: 10vh;
            transform: translate(0, -50%) scaleY(0);
            background-color: black;
        }
    }
}