.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
    min-height: 300px;

    & .header {
        display: flex;
        width: 100%;
        min-height: 75px;

        & .indicator {
            align-self: center;
            flex-shrink: 0;
            height: 5px;
            width: 30px;
            opacity: 0;
            background-color: black;
            animation: IndicatorDropIn .5s ease-out forwards;

            &--web { background-color: var(--web); }
            &--threejs { background-color: var(--threejs); }
            &--games { background-color: var(--games); }
            &--shaders { background-color: var(--shaders); }
            &--scenes { background-color: var(--scenes); }
            &--about { background-color: var(--about); }
        }

        & .title {
            align-self: center;
            font-weight: 400;
            margin: 1rem 2rem;
            opacity: 0;
            animation: TitleDropIn .5s ease-out .1s forwards;
        }

        & .placeholder {
            &-icon {
                align-self: center;
                flex-shrink: 0;
                height: 5px;
                width: 30px;
                background-color: black;
            }

            &-line {
                align-self: center;
                height: 5px;
                width: 20%;
                margin: 0 2rem;
                background-color: black;
            }
        }
    }

    & .body {
        margin-left: calc(30px + 2rem);

        & p {
            margin-top: 0;
        }
    }
}

@keyframes Flutter {
    0% { background-color: black }
    50% { background-color: rgb(121, 121, 121); }
    100% { background-color: black }
}
@keyframes TitleDropIn {
    0% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes IndicatorDropIn {
    0% { opacity: 0; transform: translateY(-500%); }
    100% { opacity: 1; transform: translateY(0); }
}