.splash {
    height: 100vh;

    & .selections {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 30%;
        left: calc(50% - 500px);
        transform: translate(0, -50%);

        & .selection {
            cursor: pointer;

            & line {
                pointer-events: none;
                stroke-dasharray: 60;
                stroke-dashoffset: 60;
            }

            &--draw line:first-child {
                animation: SelectionDraw .5s linear 1s forwards;
            }

            &--highlight {
                animation: SelectionDraw .25s linear forwards;
            }

            &--highlight-web    { stroke: var(--web); filter: drop-shadow(0 0 2px var(--web)); }
            &--highlight-threejs    { stroke: var(--threejs); filter: drop-shadow(0 0 2px var(--threejs)); }
            &--highlight-games { stroke: var(--games); filter: drop-shadow(0 0 2px var(--games)); }
            &--highlight-shaders   { stroke: var(--shaders); filter: drop-shadow(0 0 2px var(--shaders)); }
            &--highlight-scenes  { stroke: var(--scenes); filter: drop-shadow(0 0 2px var(--scenes)); }
            &--highlight-about { stroke: var(--about); filter: drop-shadow(0 0 2px var(--about)); }
        }
    }

    & .subject-title {
        position: absolute;
        bottom: calc(50% - 216px);
        left: calc(50% - 400px);
        transform: translate(-50%, -50%);
        opacity: 0;
        animation: SubjectTitleIn .25s linear 1.3s forwards;

        & > h1 {
            margin: 0;
            font-weight: 400;
        }
    }

    & .subject-load-circle {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        stroke-dasharray: 100;
        stroke-dashoffset: 100;

        &--loaded circle {
            animation: LoadCircleDraw .5s ease-out forwards;
        }
    }

    & .pentagons {
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(3);
        animation: PentsScaleDown .5s linear .8s forwards;

        & > path {
            pointer-events: none;
            stroke-dasharray: 400;
            stroke-dashoffset: 400;
        }

        &--draw path:not([data='highlight']) {
            animation: PentDraw .5s linear forwards;
        }

        & .pentagon {
            &--draw {
                animation: PentDraw .5s linear forwards;
            }

            &--highlight {
                &-web    { stroke: var(--web); filter: drop-shadow(0 0 2px var(--web)); }
                &-threejs { stroke: var(--threejs); filter: drop-shadow(0 0 2px var(--threejs)); }
                &-games { stroke: var(--games); filter: drop-shadow(0 0 2px var(--games)); }
                &-shaders   { stroke: var(--shaders); filter: drop-shadow(0 0 2px var(--shaders)); }
                &-scenes  { stroke: var(--scenes); filter: drop-shadow(0 0 2px var(--scenes)); }
                &-about { stroke: var(--about); filter: drop-shadow(0 0 2px var(--about)); }

                &-pulse {
                    &-web    { stroke-dashoffset: 0; animation: PentPulseWeb 2s linear 1s infinite; }
                    &-threejs    { stroke-dashoffset: 0; animation: PentPulseThreejs 2s linear 1s infinite; }
                    &-games { stroke-dashoffset: 0; animation: PentPulseGames 2s linear 1s infinite; }
                    &-shaders   { stroke-dashoffset: 0; animation: PentPulseShaders 2s linear 1s infinite; }
                    &-scenes  { stroke-dashoffset: 0; animation: PentPulseScenes 2s linear 1s infinite; }
                    &-about { stroke-dashoffset: 0; animation: PentPulseAbout 2s linear 1s infinite; }
                }
            }
        }
    }
}

// Pentagon SVG animation stages; stages should be played in ascending order,
// and implement the previous stage's 100% animation for smoothness, if it's important enough
// Pentagons
@keyframes PentsScaleDown {
    0% { transform: translate(-50%, -50%) scale(3); }
    100% { transform: translate(-50%, -50%) scale(1.5); }
}
// Selections
@keyframes SelectionDraw {
    0% { stroke-dashoffset: 60; }
    100% { stroke-dashoffset: 0; }
}
// Subject Title
@keyframes SubjectTitleIn {
    0% { padding-left: 0; opacity: 0; }
    100% { padding-left: 4rem; opacity: 1; }
}
// Load Circle
@keyframes LoadCircleDraw {
    0% { stroke-dashoffset: 100; }
    100% { stroke-dashoffset: 0; }
}
// Pentagon
@keyframes PentDraw {
    0% { stroke-dashoffset: 400; }
    100% { stroke-dashoffset: 0; }
}
@keyframes PentPulseWeb {
    0% { filter: drop-shadow(0 0 3px var(--web)); stroke: var(--web); }
    75% { filter: drop-shadow(0 0 3px var(--web)); stroke: var(--web); }
    100% { filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)); stroke: black; }
}
@keyframes PentPulseThreejs {
    0% { filter: drop-shadow(0 0 3px var(--threejs)); stroke: var(--threejs); }
    75% { filter: drop-shadow(0 0 3px var(--threejs)); stroke: var(--threejs); }
    100% { filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)); stroke: black; }
}
@keyframes PentPulseGames {
    0% { filter: drop-shadow(0 0 3px var(--games)); stroke: var(--games); }
    75% { filter: drop-shadow(0 0 3px var(--games)); stroke: var(--games); }
    100% { filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)); stroke: black; }
}
@keyframes PentPulseShaders {
    0% { filter: drop-shadow(0 0 3px var(--shaders)); stroke: var(--shaders); }
    75% { filter: drop-shadow(0 0 3px var(--shaders)); stroke: var(--shaders); }
    100% { filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)); stroke: black; }
}
@keyframes PentPulseScenes {
    0% { filter: drop-shadow(0 0 3px var(--scenes)); stroke: var(--scenes); }
    75% { filter: drop-shadow(0 0 3px var(--scenes)); stroke: var(--scenes); }
    100% { filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)); stroke: black; }
}
@keyframes PentPulseAbout {
    0% { filter: drop-shadow(0 0 3px var(--about)); stroke: var(--about); }
    75% { filter: drop-shadow(0 0 3px var(--about)); stroke: var(--about); }
    100% { filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)); stroke: black; }
}